<div class="modal-wrapper" aria-hidden="true">
  <div class="modal-dialog absolute-position" tabindex="0" role="dialog" aria-labelledby=":2i" style="width: 550px;">
    <div class="modal-dialog-title"><span class="modal-dialog-title-text" id=":2i" role="heading">修改资料</span></div>
    <div class="modal-dialog-content">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
          <%= devise_error_messages! %>

          <div class="zh-add-question-form">
            <div style="position:relative;margin-top:10px;">
              <%= f.label :name %><br/>
              <%= f.text_field :name, autofocus: true %>
            </div>
            <div style="position:relative;margin-top:10px;">
              <%= f.label :phonenumber %><br/>
              <%= f.telephone_field :phonenumber, autofocus: true %>
            </div>
            <div style="position:relative;margin-top:10px;">
              <%= f.label :province %><br/>
              <%= f.text_field :province, autofocus: true %>
            </div>
            <div style="position:relative;margin-top:10px;">
              <%= f.label :city %><br/>
              <%= f.text_field :city, autofocus: true %>
            </div>
            <div style="position:relative;margin-top:10px;">
              <%= f.label :area %><br/>
              <%= f.text_field :area, autofocus: true %>
            </div>
            <div style="position:relative;margin-top:10px;">
              <%= f.label :idcardimg %><br/>
              <%= f.text_field :idcardimg, autofocus: true %>
            </div>
            <div style="position:relative;margin-top:10px;">
              <%= f.label :role %><br/>
              <%= f.text_field :role, autofocus: true %>
            </div>

            <div style="position:relative;margin-top:10px;">
              <%= f.label :email %><br/>
              <%= f.email_field :email, autofocus: true %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div style="position:relative;margin-top:10px;">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br/>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
            <div style="position:relative;margin-top:10px;">
              <%= f.label :password_confirmation %><br/>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <div style="position:relative;margin-top:10px;">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
              <%= f.password_field :current_password, autocomplete: "off" %>
            </div>

            <div style="position:relative;margin-top:10px;">
              <%= f.submit "修改", :class => 'sign-button' %>
            </div>
            <div style="position:relative;margin-top:10px;">
              <%= link_to "取消", :back, :class => 'sign-button' %>
            </div>
          </div>
          </div>
      <% end %>
      </div>
</div>
</div>