<div class="content">
  <div class="pure-g">
    <div class="pure-u-1-2">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true, :class => "pure-form pure-form-stacked"}) do |f| %>
      <%= devise_error_messages! %>
      <fildset>
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>
        <%= f.label :phonenumber %>
        <%= f.telephone_field :phonenumber, autofocus: true %>
        <%= f.label :province %>
        <%= f.text_field :province, autofocus: true %>
        <%= f.label :city %>
        <%= f.text_field :city, autofocus: true %>
        <%= f.label :area %>
        <%= f.text_field :area, autofocus: true %>
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>
        <%= f.label :role %>
        <%= f.text_field :role, autofocus: true %>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
        <%= f.label :password %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off" %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
        <%= f.submit "注册", :class => 'pure-button' %>
      </fildset>
      <% end %>
    </div>
  </div>
</div>