<div class="head-sect">
    <div class="w-container">
        <div class="sub-head">Discover new startups &amp;&nbsp;follow their journeys from inception to success</div>
        <div class="logo-block">Follow, post feedback, view updates &amp;&nbsp;get early access to new &amp;&nbsp;incredible
            startups
        </div>
    </div>
</div>
<div class="mailing-section">
    <div class="w-container">
        <div>
            <div class="w-form form-wrap">
                <form class="form" id="email-form" name="email-form" data-name="Email Form">
                    <label class="email-label" for="email">Sign up</label>
                    <input class="w-input form-label" id="email" type="email" placeholder="Enter your email address"
                           name="email" data-name="Email" required="required">
                    <input class="w-button subscribe-btn" type="submit" value="Email me!" data-wait="Please wait...">
                    <%= link_to 'New stock', new_stock_path , {:class => 'w-button subscribe-btn'} %>
                </form>
                <div class="w-form-fail">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="products-section">
    <div class="w-container">
        <div class="text-header-div">
            <h1>Featured Journeys</h1>
            <div class="subtext">Here are a list of our most active startup journeys right now!</div>
        </div>
        <div class="w-row">
            <% @stock.each do |stock| %>
            <div class="w-col w-col-4">
              <div class="w-inline-block journey-icon">
              <%= link_to image_tag("airbnb.png",:class=>"img-block"), stock_path(stock) %>
                    <div class="product-name"><%= stock.stockNumber %></div>
                    <div class="product-title"><%= stock.title %></div>
                    <div class="product-text"><%= stock.text %></div>
                    <div class="stats-div">
                        <div class="w-row">
                            <div class="w-col w-col-4">
                                <div class="stats-text">168</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-text">24</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="status-div"></div>
                            </div>
                        </div>
                        <div class="w-row">
                            <div class="w-col w-col-4">
                                <div class="stats-name">followers</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-name">updates</div>
                            </div>
                            <div class="w-col w-col-4">
                                <div class="stats-name">live</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
<div class="footer"></div>