<div class="banner">
  <div class="banner-menu">
    <form class="pure-form">
      <input  id="email" type="email" placeholder="Enter your email address"
             name="email" data-name="Email" required="required">
      <input type="submit" value="Email me!" data-wait="Please wait...">
      <%= link_to '发布', new_stock_path, {:class => 'pure-menu-link'} %>
    </form>
  </div>
</div>
<div class="l-content">
  <div class="pricing-tables pure-g">

    <% @stock.each do |stock| %>
        <div class="pure-u-1-4">
          <div class="pricing-table pricing-table-free">
            <%= link_to image_tag(stock.avatar.url, :class => "pure-img"), stock_path(stock) %>
            <div class="pricing-table-header"><%= stock.stockNumber %></div>
            <ul class="pricing-table-list">
              <li><%= stock.title %></li>
              <li><%= stock.size %></li>
              <li><%= stock.inventory %></li>
            </ul>
          </div>
        </div>
    <% end %>
  </div>
</div>
