<div class="modal-wrapper" aria-hidden="true">
  <div class="modal-dialog absolute-position" tabindex="0" role="dialog" aria-labelledby=":2i" style="width: 550px;">
    <div class="modal-dialog-title"><span class="modal-dialog-title-text" id=":2i" role="heading">提问</span></div>
    <div class="modal-dialog-content">
      <%= form_for :stock, :url => stocks_path, :html => {:multipart => true} do |f| %>
          <div class="zh-add-question-form">
            <div class="before-ask-form"><b>提问前请先搜索</b>

              <div style="position:relative;margin-top:18px;">
                <%= f.label :stockNumber %><br>
                <%= f.text_field :stockNumber %>
              </div>
            </div>
          </div>
          <div class="zg-section-big clearfix">
            <div style="position:relative;margin-top:18px;">
              <%= f.label :title %><br>
              <%= f.text_field :title %>
            </div>
          </div>
          <div class="zg-section-big">
            <div style="position:relative;margin-top:18px;">
                <%= f.file_field :avatar %>
            </div>

            <div class="zg-section-big">
              <div style="position:relative;margin-top:18px;">
                <div class="zm-editable-editor-field-wrap">
                  <%= f.label :text %>
                  <%= f.text_area :text %>
                </div>
              </div>
              <div style="position:relative;margin-top:18px;">
                <%= link_to 'Back', stocks_path %>
                <%= f.submit %></div>
            </div>
          </div>
          </div>
      <% end %>
      </div>
</div>
<div class="modal-dialog-buttons" style="display: none;"></div>
</div>
</div>