<div class="content">
  <div class="pure-g">
    <div class="pure-u-1-2">
      <%= form_for :stock, :url => stocks_path, :html => {:multipart => true, :class => "pure-form pure-form-stacked"} do |f| %>
          <fieldset>
            <%= f.label :stockNumber %>
            <%= f.text_field :stockNumber %>
            <%= f.label :title %>
            <%= f.text_field :title %>
            <%= f.label :size %>
            <%= f.text_field :size %>
            <%= f.label :inventory %>
            <%= f.text_field :inventory %>
            <%= f.label :color %>
            <%= f.text_field :color %>
            <%= f.file_field :avatar %>
            <%= f.label :text %>
            <%= f.text_area :text %>
          <%= f.submit :class => "pure-button" %></div>
          </fieldset>
      <% end %>

      </div>
  <%= link_to 'Back', stocks_path, :class => "pure-menu-link" %>
</div>
</div>