<div class="content">
  <div class="pure-g">
    <div class="pure-u-1-2">
   <ul>
     <li><%= @stock.stockNumber %></li>
    <li><%= @stock.title %></li>
      <li><%= @stock.size %></li>
     <li><%= @stock.inventory %></li>
     <li><%= @stock.color %></li>
     <li><%= @stock.text %></li>
   </ul>
    </div>
    <div class="pure-u-1-2">
      <%= link_to image_tag(@stock.avatar.url, :class => "pure-img"), stock_path(@stock) %>
    </div>
  </div>
  <%= link_to 'Edit', edit_stock_path(@stock),:class=>"pure-menu-link" %>

  <%= render @stock.comments %>
  <%= render 'comments/form' %>

  <%= link_to 'Back', stocks_path ,:class=>"pure-menu-link"%>
</div>
