<div class="content">
  <div class="pure-g">
    <div class="pure-u-1-2">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "pure-form pure-form-stacked"}) do |f| %>
      <fieldset>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>


        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>

        <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
        <% end -%>

        <%= f.submit "登录", :class => "pure-button pure-button-primary" %>

      </fieldset>
      <% end %>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>

