<!DOCTYPE html>
<html>
<head>
  <title>StockshareRails</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <%= link_to '易货', stocks_path,:class=>"pure-menu-heading" %>
    <% if user_signed_in? %>
        <li class="pure-menu-item">
          <%= current_user.email %>
        </li>
        <li class="pure-menu-item">
          <%= link_to '修改资料', edit_user_registration_path, :class => 'pure-menu-link' %>
        </li>
        <li class="pure-menu-item">
          <%= link_to "注销", destroy_user_session_path, method: :delete, :class => 'pure-menu-link' %>
        </li>
    <% else %>
        <li class="pure-menu-item">
          <%= link_to "注册", new_user_registration_path, :class => 'pure-menu-link' %>
        </li>
        <li class="pure-menu-item">
          <%= link_to "登录", new_user_session_path, :class => 'pure-menu-link' %>
        </li>
    <% end %>
  </ul>
</div>
<div class="pure-menu pure-menu-horizontal">
  <% if notice %>
      <p class="pure-menu-item"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="pure-menu-item"><%= alert %></p>
  <% end %>
</div>
<div class="">
  <%= yield %>
</div>
</body>