<!DOCTYPE html>
<html>
<head>
  <title>StockshareRails</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class ="top">
<div class="view view-signin" style="display: block;">
    <div class="title">
      <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to '修改资料', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "注销", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
          <%= link_to "注册", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "登录", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>
    <div class="email input-wrapper">
      <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>
    <div class="input-wrapper">
      <%= yield %>
    </div>
</div>
</div>
</body>